@use "styles/mixins";
@use "styles/variables";
@use "styles/animations";

.search-section {
	display: flex;
	justify-content: center;
	height: 100%;
	background-color: variables.$light;
	z-index: 1;
}

.scale-enter > div {
	transform: scale(0) translateY(-58px);
	transform-origin: center;
	opacity: 0;
	visibility: hidden;
}

.scale-enter-active {
	> div {
		transform: scale(1) translateY(0);
		opacity: 1;
		visibility: visible;
		transition: transform 250ms ease, opacity 200ms ease 100ms,
			visibility 0ms 200ms;
	}
}

.scale-exit > div {
	transform: scale(1) translateY(0);
}

.scale-exit-active > div {
	transform: scale(0) translateY(-100%);
	transition: opacity 200ms, transform 200ms;
}
