@use "styles/mixins";
@use "styles/variables";
@use "styles/animations";

.search-section {
	display: flex;
	justify-content: center;
	height: 100%;
	background-color: variables.$light;
}

.scale-enter {
	.search-expand {
		display: block;
	}

	.search-label {
		display: none;
	}
}

.scale-enter-active {
	.search-tabpanel {
		animation: slide-in-fwd-top 0.15s ease-out;
	}
	
	.search-label {
		display: none;
	}
}

.scale-enter-done {
	.search-expand {
		display: block;
	}

	.search-label {
		display: none;
	}
}

.scale-exit {
	.search-expand {
		display: block;
	}

	.search-label {
		display: none;
	}
}

.scale-exit-active {

	.search-expand {
		// animation: scale-out-top 0.15s linear forwards;

		.search-tabpanel {
			animation: slide-out-fwd-bottom 0.15s ease-out forwards;

			.search-tabpanel-container {
				visibility: hidden;
			}
		}

		.search-tablist {
			animation: scale-out-top 0.15s linear forwards;
		}
	}

	.search-label {
		animation: scale-in-bottom 0.15s linear;
	}
}

.scale-exit-done {
	.search-expand {
		display: none;
	}
	
	.search-label {
		display: flex;
	}
}
