@use "styles/mixins";
@use "styles/variables";
@use "styles/animations";

.search-expand {
	width: 100%;
	display: flex;
	flex-direction: column;
	display: none;

	.search-tablist {
		display: flex;
		justify-content: space-between;
		align-items: center;
		opacity: 0;
		animation: fade-in 0.15s linear forwards 0.21s;
		max-width: 380px;
		margin: 0 auto;
	}

	.search-tabpanel {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		height: 80px;
		@include mixins.flex-v-h-center();
		@include mixins.border(bottom);
		font-size: 0.9rem;
		padding-bottom: 0.6rem;
		background-color: variables.$light;
		z-index: -1;

		.search-tabpanel-container {
			background-color: variables.$gray-2;
			border-radius: 9999px;
			@include mixins.flex-v-h-center();
			@include mixins.border();
			position: relative;
			width: 850px;
			opacity: 0;
			animation: scale-in-top 0.05s linear forwards 0.15s;

			&:not(.focused) {

				.search-button {
					padding: 1rem;
					width: 44.8px;
					transition: width 0.2s ease 0.1s;
					justify-content: flex-start;

					.search-button-label {
						display: none;

					}
				}
			}

			.divider {
				height: 3rem;
			}

			.search-button {
				@include mixins.flex-v-h-center();
				position: absolute;
				right: 0.8rem;
				background: variables.$brand-color;
				color: variables.$light;
				padding: 1rem 1.2rem;
				font-size: 1.2rem;
				gap: 0.4rem;
				border-radius: 9999px;
				font-weight: 600;
				width: 128.78px;
			}

			.search-tablabel {
				padding: 1rem 2rem;
				font-weight: 600;
				cursor: pointer;
				color: rgba(0, 0, 0, 0.8);
				position: relative;
				flex-basis: calc(100% / 3);

				.search-input-clear-btn {
					position: absolute;
					right: 1rem;
					top: 50%;
					translate: 0 -50%;
					width: 1.6rem;
					aspect-ratio: 1 / 1;
					background-color: variables.$gray;
					border-radius: 50%;
					@include mixins.flex-v-h-center();
					transition: opacity 0.1s linear;
					opacity: 0.8;

					&:hover {
						opacity: 1;
					}
				}

				&.search-tablabel-container {
					padding: 0;
					display: flex;

					.sub-search-tablabel {
						flex: 1 0 0;
						padding: 1rem 2rem; 
					}
				}

				.tablabel {
					white-space: nowrap;
				}

				.sub-label {
					font-weight: normal;
					color: variables.$dark-gray;
				}
			}

			.selected {
				background-color: variables.$light;
				border-radius: 9999px;
				position: relative;

				&::after {
					@include mixins.position-full();
					@include mixins.border();
					left: -1px;
					top: -1px;
					bottom: -1px;
					right: -1px;
					box-sizing: initial;
					border-radius: 9999px;
					border-width: 4px;
					border-color: variables.$light;
					box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
				}
			}

			.search-input-field {
				position: absolute;
				padding: 1rem 2rem;
				margin-top: 0.8rem;
				@include mixins.border();
				border-radius: 2rem;
			}
		}
	}
}
