

@keyframes scale-in-top {
    from {
        transform: translateY(-100%);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 0
    }

    to {
        transform: translateY(0);
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1
    }
}

@keyframes scale-out-top {
    from {
        transform: translateY(0);
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1
    }

    to {
        transform: translateY(-20vh);
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 0;
    }
}

@keyframes scale-in-bottom {
    from {
        transform: translateY(80px);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 0.2;
    }

    to {
        transform: translateY(0);
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

@keyframes slide-in-fwd-top {
    from {
        transform: translateY(-58px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slide-out-fwd-bottom {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}