@use 'styles/mixins';
@use 'styles/variables';

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    position: relative;

    div[class$="content"] {
        flex: 1 0 140px;
    }

    .middle-content {
        flex: 0 1 auto;
        min-width: 348px;
    }

    .right-content {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-weight: 500;
        gap: 1.2rem;
    }
}