
@mixin d-flex {
    display: flex;
}

@mixin d-flex-h-center {
    @include d-flex();
    justify-content: center

}

@mixin d-flex-v-center {
    @include d-flex();
    align-items: center;
}

@mixin border-bttm {
    border-bottom: 1px solid #ebebeb;
}