@import 'assets/variables';

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: $font-family;
    font-size: 16px; // default
}

// reset style for button, input
button, button:focus, input, input:focus {
    border: none;
    outline: none
}

// reset style for a tag
a {

}
