

#default-layout {
    position: relative;

    .header-section {
        position: sticky;
        position: -webkit-sticky; 
        top: 0;
    }

    .main-section {
        
    }

    .footer-section {
        position: sticky;
        bottom: 0;
    }
}