@use 'styles/mixins';

#default-layout {
	position: relative;

	.header-section {
		position: sticky;
		position: -webkit-sticky;
		top: 0;
	}

	.main-section {
        //TODO: adding styles
	}

	.footer-section {
		position: sticky;
		bottom: 0;
	}
}
